<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Мобільне меню</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <!-- Кнопка для відкриття меню -->
    <button class="menu-open-btn" aria-label="Open menu">
      <svg class="menu-btn-svg" width="24" height="24">
        <use href="./images/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <!-- Overlay меню -->
    <div class="menu-overlay" id="menu-overlay">
      <div class="menu">
        <button class="menu-close-btn" aria-label="Close menu">
          <svg class="menu-btn-svg" width="24" height="24">
            <use href="./images/icons.svg#icon-vector_x"></use>
          </svg>
        </button>
        <nav class="menu-nav">
          <ul class="ul-menu-over">
            <li><a class="menu-link menu-link-active" href="#">Studio</a></li>
            <li><a class="menu-link" href="#">Portfolio</a></li>
            <li><a class="menu-link" href="#">Contacts</a></li>
          </ul>
        </nav>
        <div class="menu-contacts">
          <a class="menu-phone menu-link-active" href="tel:+110001111111">+11 (000) 111-11-11</a>
          <a class="menu-email" href="mailto:info@devstudio.com">info@devstudio.com</a>
        </div>
        <ul class="menu-social-modal">
          <li class="menu-icon">
            <a class="menu-social-icon" href="#">
              <svg class="menu-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu-icon">
            <a class="menu-social-icon" href="#">
              <svg class="menu-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="menu-icon">
            <a class="menu-social-icon" href="#">
              <svg class="menu-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="menu-icon">
            <a class="menu-social-icon" href="#">
              <svg class="menu-svg" width="24" height="24">
                <use href="./images/icons.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <!-- Вміст сторінки -->
  </main>
  <script src="script.js"></script>
</body>
</html>